<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EtGDb"  connectionString="Server=sql_server2022;Database=EtGDB;User Id=SA;Password=Gungeon@llyLoginPassword123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>