.home-layout {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
}

.art-splash-layout {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.logo-caption {
    display: flex;
    justify-content: flex-end;
    transform: rotate(-15deg);
    font-size: 28px;
    font-family: Pixeloid;
    color: yellow;
    margin-right: 60px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.menu-options {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 8% 20% 10% 20%;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 2px #343147;
    font-size: 24px;
    font-family: Pixeloid;
    background-color: #cbb959;
}
    .menu-button:hover {
        background-color: #6d6224;
    }