.heading-bar {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 12%;
    min-height: 12%;
    padding-top: 5px;
}

.equipment-heading {
    font-size: 60px;
    font-family: Alagard;
}

.inventory-button {
    padding-top: 8px;
    padding-bottom: 2px;
    max-height: 75px;
    margin-top: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.guns-frame {
    height: fit-content;
    min-height: 22%;
    display: grid;
    grid-template-rows: min-content 1fr;
    place-items: center;
    padding-bottom: 10px;
}

.actives-frame {
    height: 22%;
    min-height: 23%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
    place-items: center;
    padding-bottom: 10px;
}

.passives-frame {
    height: fit-content;
    min-height: 36%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
    place-items: center;
    padding-bottom: 10px;
}

.inventory-label {
    background-color: #201d2f;
    color: white;
    width: 44%;
    height: fit-content;
    padding: 2px 2px 2px 5px;
    margin-bottom: 5px;
    font-size: 36px;
    font-family: Pixeloid;
    letter-spacing: 0.1em;
    border-radius: 6px;
    border-color: white;
    border-width: 4px;
    border-style: ridge;
    outline: 2px solid #343147;
}

.overflow-container {
    overflow-y: scroll;
}