USE [master]
GO
/****** Object:  Database [EtGDB]    Script Date: 25/04/2023 23:10:41 ******/
CREATE DATABASE [EtGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EtGDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EtGDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EtGDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EtGDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EtGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EtGDB]
GO
/****** Object:  Table [dbo].[BaseItems]    Script Date: 25/04/2023 23:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseItems](
	[BaseID] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[IconImageData] [varbinary](max) NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[Quote] [nvarchar](max) NOT NULL,
	[Quality] [int] NOT NULL,
 CONSTRAINT [PK_BaseItems] PRIMARY KEY CLUSTERED 
(
	[BaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guns]    Script Date: 25/04/2023 23:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guns](
	[BaseID] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[GunType] [nvarchar](max) NOT NULL,
	[DPS] [nvarchar](max) NOT NULL,
	[MagSize] [nvarchar](max) NOT NULL,
	[AmmoCap] [nvarchar](max) NOT NULL,
	[Damage] [nvarchar](max) NOT NULL,
	[FireRate] [nvarchar](max) NOT NULL,
	[ReloadTime] [nvarchar](max) NOT NULL,
	[ShotSpeed] [nvarchar](max) NOT NULL,
	[Range] [nvarchar](max) NOT NULL,
	[Force] [nvarchar](max) NOT NULL,
	[Spread] [nvarchar](max) NOT NULL,
	[Class] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Guns] PRIMARY KEY CLUSTERED 
(
	[BaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 25/04/2023 23:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[BaseID] [int] NOT NULL,
	[ItemEffect] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[BaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Synergies]    Script Date: 25/04/2023 23:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Synergies](
	[SynergyID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Effect] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Synergies] PRIMARY KEY CLUSTERED 
(
	[SynergyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SynergyDetail]    Script Date: 25/04/2023 23:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SynergyDetail](
	[SynergyID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[RequireType] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Guns]  WITH CHECK ADD  CONSTRAINT [FK_Guns_BaseItems] FOREIGN KEY([BaseID])
REFERENCES [dbo].[BaseItems] ([BaseID])
GO
ALTER TABLE [dbo].[Guns] CHECK CONSTRAINT [FK_Guns_BaseItems]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_BaseItems] FOREIGN KEY([BaseID])
REFERENCES [dbo].[BaseItems] ([BaseID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_BaseItems]
GO
ALTER TABLE [dbo].[SynergyDetail]  WITH CHECK ADD  CONSTRAINT [FK_SynergyDetail_BaseItems] FOREIGN KEY([ItemID])
REFERENCES [dbo].[BaseItems] ([BaseID])
GO
ALTER TABLE [dbo].[SynergyDetail] CHECK CONSTRAINT [FK_SynergyDetail_BaseItems]
GO
ALTER TABLE [dbo].[SynergyDetail]  WITH CHECK ADD  CONSTRAINT [FK_SynergyDetail_Synergies] FOREIGN KEY([SynergyID])
REFERENCES [dbo].[Synergies] ([SynergyID])
GO
ALTER TABLE [dbo].[SynergyDetail] CHECK CONSTRAINT [FK_SynergyDetail_Synergies]
GO
USE [master]
GO
