@inject InventoryState State
@inject IGungeonService GungeonDB

<div class="detail-layout">
    <div class="item-heading centre">
        @{
            string name = State.CurrentItemBaseSelected?.ItemName ?? string.Empty;
        }
        @name
    </div>
    <div class="item-image-detail">
        <div class="image-frame">
            <InventoryItem Context="@State.CurrentItemBaseSelected" Scale="8" Selectable="false"/>
        </div>
        <div class="quote-label">
        @{
            string quote = State.CurrentItemBaseSelected?.Quote ?? string.Empty;
        }
        @quote
        </div>
        <div class="itemtype-label">
            @{
                string type = string.Empty;
                ItemBase? item = State.CurrentItemBaseSelected;

                if (item != null)
                {
                    if (item is Gun)
                    {
                        type = State.CurrentGunSelected?.GunType ?? string.Empty;
                    }
                    else
                    {
                        type = State.CurrentItemSelected?.ItemType ?? string.Empty;
                    }
                }
            }
        @type
        </div>
    </div>
    <div class="description-label">
        @{
            string desc = State.CurrentItemBaseSelected?.Description ?? string.Empty;
            foreach (string paragraph in desc.Split('\n'))
            {
                <p>@paragraph</p>
                <br/>
            }
        }
    </div>
    <div>
    </div>
</div>

@code {
    [Inject]
    public IRefreshService RefreshService { get; set; }

    protected override void OnInitialized()
    {
        RefreshService.RefreshRequested += OnRefresh;
    }

    private async Task OnRefresh()
    {
        StateHasChanged();
        await Task.CompletedTask;
    }
}
