.detail-layout {
    display: grid;
    grid-template-rows: 8% 50% 33% 8%;
    grid-template-columns: 100%;
    height: 100%;
    min-height: 100%;
}

.item-heading {
    font-size: 28px;
    font-family: Pixeloid;
    margin-top: 4px;
    margin-left: 9%;
    margin-right: 9%;
    border-top: 2px solid #343147;
    border-bottom: 6px double #343147;
}

.item-image-detail {
    display: grid;
    grid-template-rows: 80% 10% 10%;
    grid-template-columns: 100%;
    justify-content: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.image-frame {
    border: 2px solid;
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: url("inventory.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.quote-label {
    background-color: #fbf2d5;
    font-size: 26px;
    font-family: Pixeloid;
    color: black;
    width: fit-content;
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid;
}

.itemtype-label {
    background-color: #fbf2d5;
    font-size: 26px;
    font-family: Pixeloid;
    color: black;
    width: fit-content;
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.description-label {
    border-top: 6px double #343147;
    border-bottom: 6px double #343147;
    font-size: 32px;
    font-family: Pixeloid;
    margin-left: 9%;
    margin-right: 9%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    overflow-y: scroll;
    color: #343147;
}

.action-buttons-panel {
    display: flex;
    justify-content: flex-start;
    column-gap: 4px;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 9%;
    margin-right: 9%;
}

.action-button {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 20px;
    background-color: #cbb959;
}

    .action-button:hover {
        background-color: #6d6224;
    }

.disabled {
    pointer-events: none;
    opacity: 0.4;
}