<div class="guns-frame">
    <div class="inventory-label">
        Guns
    </div>
</div>
<div class="actives-frame">
    <div class="inventory-label">
        Active Items
    </div>
</div>
<div class="passives-frame">
    <div class="inventory-label">
        Passive Items
    </div>
    @{
        string columnCount = Passives.Count < 7 ? Passives.Count.ToString() : "8";

        <div style="border-radius: 25px; border: 2px solid; padding: 20px; columns: @columnCount auto; margin-left: 5%; margin-right: 5%">
            @{
                foreach (Item passiveItem in Passives)
                {
                    <img src="@passiveItem.ImageAsURI" />
                }
            }
        </div>
    }

</div>

@code {
    [Inject]
    public IGungeonService GungeonService { get; set; }

    private List<Item> Passives = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        Passives.AddRange(await GungeonService.GetItem("Obsidian Shell Casing"));
        Passives.AddRange(await GungeonService.GetItem("Explosive Rounds"));
        Passives.AddRange(await GungeonService.GetItem("Katana Bullets"));
        Passives.AddRange(await GungeonService.GetItem("Alpha Bullet"));
    }

}
