.guns-frame {
    height: 40%;
    min-height: 40vh;
}

.actives-frame {
    height: 20%;
    min-height: 20vh;
}

.passives-frame {
    height: 40%;
    min-height: 40vh;
}

.inventory-label {
    background-color: #201d2f;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    font-size: 24px;
    left: 50%;
    transform: translate(-50%);
    width: 28%;
    height: min-content;
    font-family: Alagard;
    letter-spacing: 0.1em;
    border-radius: 6px;
    border-color: white;
    border-width: 4px;
    border-style: ridge;
    outline: 2px solid #201d2f
}
