@inject InventoryState State

<div class="overflow-container">
    <div class="equipment-heading centre">
        Equipment
    </div>

    <div class="guns-frame">
        <div class="inventory-label centre">
            Guns
        </div>
        <InventoryItemPanel Context="@State.CurrentInventory.Guns" />
    </div>
    <div class="actives-frame">
        <div class="inventory-label centre">
            Active Items
        </div>
        <InventoryItemPanel Context="@State.CurrentInventory.Actives" />
    </div>
    <div class="passives-frame">
        <div class="inventory-label centre">
            Passive Items
        </div>
        <InventoryItemPanel Context="@State.CurrentInventory.Passives" />
    </div>
    <div style="height: 8%; min-height: 8%">
    </div>
</div>

@code {

    [Inject]
    public IRefreshService RefreshService { get; set; }

    [Inject]
    public IGungeonService GungeonDB { get; set; }

    protected override void OnInitialized()
    {
        RefreshService.RefreshRequested += OnRefresh;
    }

    protected override async Task OnInitializedAsync()
    {
        State.CurrentInventory.AddRange(await GungeonDB.GetGunAsync("Serious Cannon"));
        State.CurrentInventory.AddRange(await GungeonDB.GetGunAsync("Stinger"));
        State.CurrentInventory.AddRange(await GungeonDB.GetGunAsync("Snowballer"));
        State.CurrentInventory.AddRange(await GungeonDB.GetGunAsync("Eye of the Beholster"));

        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Daruma"));

        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Obsidian Shell Casing"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Explosive Rounds"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Katana Bullets"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Alpha Bullet"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Omega Bullets"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Dog"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Wolf"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Backpack"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Disarming Personality"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Honeycomb"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Yellow Chamber"));
        State.CurrentInventory.AddRange(await GungeonDB.GetItemAsync("Sixth Chamber"));
    }

    private async Task OnRefresh()
    {
        StateHasChanged();
        await Task.CompletedTask;
    }
}
