<div class="item-panel">
    @foreach (var row in Context.IntoBuckets())
    {
        <div class="row-wrapper">
            @foreach (ItemBase item in row)
            {
                <div class="column-wrapper">
                    <InventoryItem Context="@item" Scale="5"/>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<ItemBase> Context { get; set; }
}
