<div class="guns-frame">
    <div class="inventory-label">
        Guns
    </div>
    <InventoryItemPanel Context="@Inventory.Guns.Values" />
</div>
<div class="actives-frame">
    <div class="inventory-label">
        Active Items
    </div>
    <InventoryItemPanel Context="@Inventory.Actives.Values" />
</div>
<div class="passives-frame">
    <div class="inventory-label">
        Passive Items
    </div>
    <InventoryItemPanel Context="@Inventory.Passives.Values" />
</div>

@code {
    [Inject]
    public IGungeonService GungeonService { get; set; }

    private Inventory Inventory = new Inventory();

    protected override async Task OnInitializedAsync()
    {
        Inventory.Guns.AddRange(await GungeonService.GetGun("Rusty Sidearm"));
        Inventory.Guns.AddRange(await GungeonService.GetGun("Gunther"));
        Inventory.Guns.AddRange(await GungeonService.GetGun("Railgun"));
        Inventory.Guns.AddRange(await GungeonService.GetGun("Void Core Assault Rifle"));
        Inventory.Guns.AddRange(await GungeonService.GetGun("Hexagun"));

        Inventory.Actives.AddRange(await GungeonService.GetItem("Daruma"));

        Inventory.Passives.AddRange(await GungeonService.GetItem("Obsidian Shell Casing"));
        Inventory.Passives.AddRange(await GungeonService.GetItem("Explosive Rounds"));
        Inventory.Passives.AddRange(await GungeonService.GetItem("Katana Bullets"));
        Inventory.Passives.AddRange(await GungeonService.GetItem("Alpha Bullet"));
    }

}
