@{
    int count = Context.Count();
    string activeColumnCount = count < 7 ? count.ToString() : "8";
    <div style="border-radius: 25px; border: 2px solid; columns: @activeColumnCount auto; margin-left: 5%; margin-right: 5%;">
        @{
            foreach (ItemBase activeItem in Context)
            {
                <InventoryItem Context="@activeItem" />
            }
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ItemBase> Context { get; set; }
}
