@inject InventoryState State

@{
    if (Context != null)
    {
        using (var image = Image.Load(Context.ImageData))
        {
            int width = image.Width * Scale;
            int height = image.Height * Scale;
            image.Mutate(x => x.Resize(width, height, KnownResamplers.NearestNeighbor));

            <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;" 
                @onclick="OnItemClicked">
                <img src="@image.ToBase64String(PngFormat.Instance)"/>
            </div>
        }
    }
}

@code {
    [Inject]
    public IGungeonService GungeonDB { get; set; }
    [Inject]
    public IRefreshService RefreshService { get; set; }

    [Parameter]
    public ItemBase Context { get; set; }

    [Parameter]
    public int Scale { get; set; }

    [Parameter]
    public bool Selectable { get; set; } = true;

    private async Task OnItemClicked()
    {
        if (!Selectable)
            return;
            
        State.CurrentItemBaseSelected = Context;
        if (Context is Gun)
        {
            State.CurrentItemSelected = null;
            State.CurrentGunSelected = Context as Gun;
        }
        else if (Context is Item)
        {
            State.CurrentGunSelected = null;
            State.CurrentItemSelected = Context as Item;
        }


        await RefreshService?.RequestRefresh();
    }
}
