@inject InventoryState State

<div class="equipment-heading centre">
    Equipment
</div>

<div class="guns-frame">
    <div class="inventory-label centre">
        Guns
    </div>
    <InventoryItemPanel Context="@State.CurrentInventory.Guns.Values" />
</div>
<div class="actives-frame">
    <div class="inventory-label centre">
        Active Items
    </div>
    <InventoryItemPanel Context="@State.CurrentInventory.Actives.Values" />
</div>
<div class="passives-frame">
    <div class="inventory-label centre">
        Passive Items
    </div>
    <InventoryItemPanel Context="@State.CurrentInventory.Passives.Values" />
</div>
<div style="height: 8%; min-height: 8%">
</div>

@code {
    [Inject]
    public IGungeonService GungeonService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        State.CurrentInventory.Guns.AddRange(await GungeonService.GetGunAsync("Serious Cannon"));
        State.CurrentInventory.Guns.AddRange(await GungeonService.GetGunAsync("Stinger"));
        State.CurrentInventory.Guns.AddRange(await GungeonService.GetGunAsync("Snowballer"));
        State.CurrentInventory.Guns.AddRange(await GungeonService.GetGunAsync("Eye of the Beholster"));

        State.CurrentInventory.Actives.AddRange(await GungeonService.GetItemAsync("Daruma"));

        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Obsidian Shell Casing"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Explosive Rounds"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Katana Bullets"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Alpha Bullet"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Omega Bullets"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Dog"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Wolf"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Backpack"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Disarming Personality"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Honeycomb"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Yellow Chamber"));
        State.CurrentInventory.Passives.AddRange(await GungeonService.GetItemAsync("Sixth Chamber"));
    }

}
