@page "/"

<div style="width: 100%;">
    <div class="inventory-panel">
        <InventoryPanel />
   </div>
    <div class="item-panel">
        <ItemPanel />
   </div>
</div>
<div style="clear:both"></div>