@page "/"

<div class="inline-panel">
    <div class="item-panel inline">
        <ItemPanel />
    </div>
    <div class="inventory-panel inline">
        <InventoryPanel />
    </div>
    <div class="search-panel inline">
        <SearchPanel />
    </div>
</div>